@import '../../theme';

.tie-breaker-display {
  display:flex;
  flex-direction: column;
  align-items: center;

  .tie-breaker-header {
    font-size: 18px;
    text-align: center;
  }

  .tie-breaker-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
  }

  svg {
    font-size: 35px;
  }

  .team-label {
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
  }

  .tie-breaker-vs {
    margin: 0 10px;
    font-size: 16px;
  }

  .tie-breaker-away-points {
    font-size: 32px;
    margin-right: 5px;
    padding: 0 5px;
    border: 1px solid $week-table-border-color;
    border-radius: 5px;
  }

  .tie-breaker-home-points {
    font-size: 32px;
    margin-left: 5px;
    padding: 0 5px;
    border: 1px solid $week-table-border-color;
    border-radius: 5px;
  }

  .tie-breaker-final {
    font-weight: 500;
    margin-left: 5px;
  }
}