@import '../../theme';

.week-table {
  border: 1px solid $table-border-color;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: $box-shadow;

  .ant-table-tbody > tr > td {
    padding: 5px 16px;
  }

  .week-table-logo {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .week-table-team {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    font-weight: 600;
  }

  .week-table-no-pick {
    font-size: 24px;
    height: 40px;
  }
}