@import '../../theme';

.week-table {
  border: 1px solid rgba(60, 60, 60, 0.2);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

  .ant-table-tbody > tr > td {
    padding: 5px 16px;
  }

  .week-table-logo {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .week-table-team {
    margin-left: 5px;
    font-size: 18px;
    font-weight: 600;
  }
}