@import '../../theme';

.email {
  width: 100%;
  padding: 20px;

  .recipients-select {
    max-width: 300px;
  }

  .recipients-list {
    display: flex;
    flex-wrap: wrap;
  }

  .recipient {
    border: 1px solid $week-table-border-color;
    border-radius: 5px;
    padding: 2px 6px;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .subject-input {
    margin-top: 20px;
  }

  .email-editor {
    background-color: white;
    min-height: 200px;
    padding: 0 10px;
    margin-bottom: 10px;
  }
}