@import '../../theme';

.week-display {
  display:flex;
  align-items: center;
  padding: 5px 15px;
  border: 1px solid rgba(60, 60, 60, 0.2);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: $content-background-color;

  &.win {
    border-color: $win-color;
    background-color: rgba($win-color, 0.2);
  }

  &.loss {
    border-color: $loss-color;
    background-color: rgba($loss-color, 0.2);
  }

  &.tie {
    border-color: $tie-color;
    background-color: rgba($tie-color, 0.2);
  }

  &.eliminated {
    border-color: $eliminated-color;
    background-color: rgba($eliminated-color, 0.2);
    max-width: 350px;
  }

  .pick-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .display-header {
    font-size: 18px;

    &.no-pick {
      margin: 5px;
    }
  }

  .display-pick {
    display: flex;
    align-items: center;
    font-size: 40px;
    margin-left: 5px;
  }

  .display-team {
    margin-right: 5px;
    font-size: 24px;
    font-weight: 600;
  }

  .make-pick-button {
    margin-left: 10px;
  }

  .eliminated-header {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
  }

  .eliminated-text {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin: 10px;
  }
}