@import '../../theme';

.week-display {
  display:flex;
  align-items: center;

  .your-pick {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .your-pick-row {
      display: flex;
      align-items: center;
    }

    svg {
      font-size: 35px;
    }

    .your-pick-label {
      font-size: 16px;
      margin-right: 5px;
    }

    .no-pick {
      font-size: 16px;
      font-weight: 500;
    }

    .team-label {
      font-size: 24px;
      margin-left: 5px;
      font-weight: 500;
    }

    .change-pick-button {
      margin-left: 10px;
    }

    .pick-status {
      font-size: 20px;
      font-weight: 500;
      margin-left: 10px;

      .win {
        color: $win-color;
      }

      .loss {
        color: $loss-color;
      }

      .tie {
        color: $tie-color;
      }
    }
  }

  .eliminated {
    text-align: center;

    .eliminated-header {
      font-size: 22px;
      font-weight: 500;
    }
  }

  &.eliminated {
    border-color: $eliminated-color;
    background-color: rgba($eliminated-color, 0.2);
    max-width: 350px;
  }
}