@import '../../../theme';

.reset-password-modal {

  .error-message {
    margin-bottom: 10px;
  }

  .error-message {
    margin-bottom: 10px;
  }

  .error-link {
    text-decoration: underline;
    cursor: pointer;
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }
}