@import '../../../theme';

.player-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .welcome-message {
    margin: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid rgba(60, 60, 60, 0.2);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: $content-background-color;

    .welcome-header {
      font-size: 20px;
      font-weight: 500;
    }

    .welcome-text {
      font-size: 14px;
      margin: 10px;
    }
  }

  .week-selector-container {
    margin: 20px;
  }

  .week-display-container {
    min-width: 250px;
    margin-bottom: 20px;
  }

  .view-type-container {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 20px;

    .view-type-label {
      font-weight: 500;
      margin-right: 10px;
    }
  }

  .week-table-container {
    margin: 10px auto 30px auto;
  }

  .game-table-container {
    margin: 10px auto 30px auto;
  }
}

.player-page-error {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}