@import '../../../theme';

.player-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .welcome-message {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    overflow: hidden;
    color: $welcome-message-text-color;
    background-image: linear-gradient(to bottom right, $welcome-message-gradient-start, $welcome-message-gradient-end);

    .welcome-header {
      font-size: 20px;
      font-weight: 500;
    }

    .welcome-text {
      font-size: 14px;
      margin: 10px;
      text-align: center;
    }
  }

  .player-page-header {
    width: 100%;
    background-color: $player-page-header-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .active-week-container {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
  }

  .standings-container {
    background-color: white;
    padding: 20px;
    border: 1px solid gray;
    box-shadow: $box-shadow;
    border-radius: 5px;
    margin: 20px auto;

    .standings-header {
      text-align: center;
      font-size: 24px;
      font-weight: 500;
    }
  }

  .view-type-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 20px;

    .view-type-label {
      font-weight: 500;
      margin-right: 10px;
    }
  }

  .week-table-container {
    margin: 10px auto 10px auto;
  }

  .game-table-container {
    margin: 10px auto 30px auto;
  }
}

.player-page-error {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}