@import '../../theme';

.roster-table {
  border: 1px solid $week-table-border-color;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: $box-shadow;
  background-color: $content-background-color;
  margin-bottom: 50px;

  .ant-table-tbody > tr > td {
    padding: 8px 16px;
  }
}