@import '~antd/dist/antd.css';
@import 'theme';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// custom "components"
.link {
  font-size: 14px;
  color: $link-color;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: $link-hover-color;
  }
}

// ant design customizations
.ant-modal-title {
  text-align: center;
  font-size: 18px;
}

.ant-form-vertical .ant-form-item-label {
  padding: 0 0 2px;
  font-weight: 500;
}

.ant-form-item {
  margin-bottom: 10px;
}