$background-gradient-start: #ffffff;
$background-gradient-end: #d9d9d9;

$content-background-color: #f7f7f7;

$header-color: #3c3c3c;
$header-text-color: #ffffff;

$link-color: #1890ff;
$link-hover-color: #156bc5;

$box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

$week-table-border-color: rgba(60, 60, 60, 0.4);

$game-table-border-color: #000000;
$game-table-hover-color: rgba(150, 150, 150, 0.4);

$win-color: #23a815;
$loss-color: #ff6a60;
$tie-color: #1b8dff;
$eliminated-color: #757575;

$welcome-message-gradient-start: #1890ff;
$welcome-message-gradient-end: #116ec3;
$welcome-message-text-color: #ffffff;

$player-page-header-color: #c5c5c5;