@import '../../theme';

.game-table {
  .game-table-data {
    box-shadow: $box-shadow;
    background-color: $content-background-color;
  }

  .game-table-row {
    display: flex;
    border-bottom: 1px solid $game-table-border-color;
    min-height: 35px;
  }

  .rank-title {
    width: 50px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .player-title {
    width: 200px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .week-title {
    width: 50px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rank {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    font-size: 16px;
    border-left: 1px solid $game-table-border-color;
  }

  .player-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    font-weight: 400;
    font-size: 16px;
    border-left: 1px solid $game-table-border-color;
    border-right: 1px solid $game-table-border-color;
  }

  .pick {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    font-weight: 500;
    font-size: 16px;
    border-right: 1px solid $game-table-border-color;
    padding: 5px 0;

    &.win {
      background-color: $win-color;
    }

    &.loss {
      background-color: $loss-color;
    }

    &.tie {
      background-color: $tie-color;
    }

    &.eliminated {
      background-color: $eliminated-color;
    }

    &.editable {
      cursor: pointer;

      &:hover {
        background-color: $game-table-hover-color;
      }
    }
  }
}