@import '../../theme';

.game-table {
  .game-table-data {
    box-shadow: $box-shadow;
  }

  .game-table-row {
    display: flex;
    border-bottom: 1px solid $table-border-color;
  }

  .player-title {
    width: 200px;
    font-weight: 600;
    text-align: center;
  }

  .week-title {
    width: 50px;
    font-weight: 600;
    text-align: center;
  }

  .player-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    font-weight: 400;
    font-size: 16px;
    border-left: 1px solid $table-border-color;
    border-right: 1px solid $table-border-color;
  }

  .pick {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    font-weight: 500;
    font-size: 16px;
    border-right: 1px solid $table-border-color;
    padding: 5px 0;

    &.editable {
      cursor: pointer;

      &:hover {
        background-color: $table-hover-color;
      }
    }
  }
}